.button {
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 16px;
    padding: 16px 40px;
    min-width: 140px;
}

.white {
    background-color: #ffffff;
    outline: 2px solid #eef5ff;
    color: #2772f0;

    &:hover {
        background-color: #eef5ff;
    }

    &:active {
        background-color: #091b3d;
    }

    &:disabled {
        color: #9cbef8;
        outline: 2px solid #eaf1fe;
        background-color: #eaf1fe;
    }
}

.blue {
    background-color: #2772f0;
    color: #fff;

    &:hover {
        background-color: #246ade;
        color: #ffffff;
    }

    &:active {
        background-color: #091b3d;
    }

    &:disabled {
        background-color: #a9c7f9;
    }
}
