.users {
    background-color: #fef8ec;
    height: 100%;
    padding: 64px;
}

.title {
    padding-bottom: 32px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
