.buttonPagination {
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    min-width: 40px;
    background-color: #ffffff;
    outline: 2px solid #eef5ff;
    color: #2772f0;
    margin-left: 10px;

    &:hover {
        color: #2772f0;
        background-color: #eef5ff;
    }

    &:active {
        background-color: #fedfbb;
        outline: none;
    }

    &:disabled {
        color: #9cbef8;
        outline: 2px solid #eaf1fe;
        background-color: #eaf1fe;
    }
}

.buttonActive {
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    min-width: 40px;
    background-color: #2772f0;
    outline: 2px solid #2772f0;
    color: #eef5ff;
    margin-left: 10px;
}
