.containerForm {
    padding-top: 20px;
}

.title {
    font-size: 20px;
    color: #2772f0;
}

.boxForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text {
    font-weight: 400;
    padding-right: 10px;
}

.input {
    padding: 5px;
    border: 1px solid #3a3939;
    border-radius: 5px;
}

.input:hover {
    border: 1px solid #9ca0a6;
}