.container {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.containerInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameInput {
    padding-right: 10px;
}

.input {
    padding: 5px;
    border: 1px solid #3a3939;
    border-radius: 5px;
}

.input:hover {
    border: 1px solid #9ca0a6;
}

.icon {
    width: 25px;
    height: auto;
    fill: #9da4b1;
}

.link {
    padding: 5px 5px 0 5px;
}

.link:hover {
    background-color: #fedfbb;
    border-radius: 3px;
    fill: #091b3d;
}

.spanError {
    display: block;
    color: #e6521f;
    font-size: 14px;
}
