.nav {
    grid-area: n;
    background-color: darkseagreen;
}

.list {
    padding: 30px;
    margin: 0;
}

.item {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
}

.item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.item a.active {
    color: #2f2f2f;
}