.wrapper {
    position: relative;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 70px;
    padding-bottom: 25px;
}

.textArea {
    background-color: #FEF8EC;
    max-width: 78%;
    min-width: 250px;
    padding: 24px;
    border: none;
    border-radius: 24px;
    resize: none;

    @media (max-width: 1024px) {
        min-width: 180px;
    }
}

.textArea::placeholder {
    color: #9CA0A6;
    font-family: 'Poppins', sans-serif;
}

.error {
    position: absolute;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    color: #E6521F;
    font-size: 14px;
}
