.wrapper {
    display: flex;
    gap: 16px;
    margin-top: 70px;
}

.textArea {
    background-color: #FEF8EC;
    width: 100%;
    min-width: 450px;
    padding: 24px;
    border: none;
    border-radius: 24px;
    resize: none;

    @media (max-width: 1024px) {
        min-width: 180px;
    }
}

.textArea::placeholder {
    color: #9CA0A6;
    font-family: 'Poppins', sans-serif;
}
