body {
  font-family: 'Poppins', sans-serif;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 'h h h'
  'n c c';
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #FFF;
}


* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}