.wrapper {
    position: relative;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-bottom: 25px;
    width: 100%;
}

.textArea {
    flex: 1;
    box-sizing: border-box;
    background-color: #fef8ec;
    width: 100%;
    padding: 24px;
    border-radius: 20px;
    resize: none;
    border: 2px solid #2772f0;

    @media (max-width: 1024px) {
        min-width: 180px;
    }
}

.textArea::placeholder {
    color: #9ca0a6;
    font-family: 'Poppins', sans-serif;
}

.error {
    position: absolute;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    color: #e6521f;
    font-size: 14px;
}

.errorTextArea {
    border: 2px solid #e6521f;
}
