.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 40px;
}

.list {
    padding: 0;
    margin: 0 56px 0 0;
}

.messagesList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
