.dialogs {
    background-color: #FEF8EC;
    padding: 64px;
    height: 100%;
}

.title {
    padding-bottom: 32px;
}

.box {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 24px;
}

.list {
    padding: 0;
    margin: 0 56px 0 0;
}

.messagesList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.containerMessage {
    overflow: hidden;
}
